:root {
  --blush: #c08279;
  --suntan: #cf9879;
  /* --desktop: 960px;
  --tablet: 768px;
  --mobile: 428px; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 50px 100px;
}
@media screen and (max-width: 960px) {
  .content {
    padding: 10px;
    padding-bottom: 100px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
